<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EMarket"
        android:usesCleartextTraffic="true">

        <!-- [START fcm_default_icon] -->
        <!-- Set custom default icon. This is used when no icon is set for incoming notification messages.
             See README(https://goo.gl/l4GJaQ) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_stat_name" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <!-- [END fcm_default_icon] -->
        <!-- [START fcm_default_channel] -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
        <!-- [END fcm_default_channel] -->

        <!-- region [START Activities] -->
        
        <!-- Home/Main Activity -->
        <activity
            android:name=".ui.activities.MainActivity"
            android:theme="@style/Theme.EMarket.NoActionBar3"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Product Details Activity -->
        <activity
            android:name=".ui.activities.ProductDetailsActivity"
            android:theme="@style/Theme.EMarket.NoActionBar3"
            android:parentActivityName=".ui.activities.MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="ProductDetailsActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.MainActivity" />
        </activity>

        <!-- List Products Activity -->
        <activity
            android:name=".ui.activities.ListProductsActivity"
            android:theme="@style/Theme.EMarket.NoActionBar3"
            android:exported="true">
        </activity>

        <!-- List Settings Activity -->
        <activity
            android:name=".ui.activities.ListSettingsActivity"
            android:theme="@style/Theme.EMarket.NoActionBar3"
            android:exported="true"/>

        <!-- Sign In activity -->
        <activity
            android:name=".ui.activities.SignInActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.EMarket.NoActionBar3"
            android:parentActivityName=".ui.activities.MainActivity"
            android:exported="true">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.MainActivity" />
        </activity>

        <!-- Sign Up activity -->
        <activity
            android:name=".ui.activities.SignUpActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.EMarket.NoActionBar3"
            android:parentActivityName=".ui.activities.SignInActivity"
            android:exported="true">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.SignInActivity" />
        </activity>

        <!-- Forgot Password activity -->
        <activity
            android:name=".ui.activities.ForgotPasswordActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.EMarket.NoActionBar3"
            android:parentActivityName=".ui.activities.SignInActivity"
            android:exported="true">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.SignInActivity" />
        </activity>

        <!-- Authenticate activity -->
        <activity
            android:name=".ui.activities.AuthenticateActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.EMarket.NoActionBar3"
            android:parentActivityName=".ui.activities.ListSettingsActivity"
            android:exported="true">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.ListSettingsActivity" />
        </activity>

        <!-- Change Password activity -->
        <activity
            android:name=".ui.activities.ChangePasswordActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.EMarket.NoActionBar3"
            android:parentActivityName=".ui.activities.ListSettingsActivity"
            android:exported="true">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.ListSettingsActivity" />
        </activity>

        <!-- Update Profile activity -->
        <activity
            android:name=".ui.activities.EditProfileActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.EMarket.NoActionBar3"
            android:parentActivityName=".ui.activities.SignInActivity"
            android:exported="true">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.SignInActivity" />
        </activity>

        <!-- All Categories activity -->
        <activity
            android:name=".ui.activities.AllCategoriesActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.EMarket.NoActionBar3"
            android:parentActivityName=".ui.activities.MainActivity"
            android:exported="true">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.MainActivity" />
        </activity>

        <!-- List Addresses activity -->
        <activity
            android:name=".ui.activities.ListAddressActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.EMarket.NoActionBar3"
            android:exported="true">
        </activity>

        <!-- Add/Edit Addresses activity -->
        <activity
            android:name=".ui.activities.AddEditAddressActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.EMarket.NoActionBar3"
            android:parentActivityName=".ui.activities.ListAddressActivity"
            android:exported="true">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.ListAddressActivity" />
        </activity>

       <!-- Checkout activity -->
       <activity
           android:name=".ui.activities.CheckoutActivity"
           android:launchMode="singleTask"
           android:windowSoftInputMode="adjustResize"
           android:theme="@style/Theme.EMarket.NoActionBar3"
           android:exported="true">
       </activity>

        <!-- My Cart Items List activity -->
        <activity
            android:name=".ui.activities.ListCartItemsActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.EMarket.NoActionBar3"
            android:exported="true">
        </activity>

        <!-- My Orders List activity -->
        <activity
            android:name=".ui.activities.ListOrdersActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.EMarket.NoActionBar3"
            android:exported="true">
        </activity>

        <!-- Order Details activity -->
        <activity
            android:name=".ui.activities.OrderDetailsActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.EMarket.NoActionBar3"
            android:parentActivityName=".ui.activities.ListOrdersActivity"
            android:exported="true">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.ListOrdersActivity" />
        </activity>
        <!-- endregion [END Activities] -->

        <!-- [START firebase_service] -->
        <service
            android:name=".service.FirebaseService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!-- [END firebase_service] -->

        <receiver android:name=".notifications.NotificationReceiver"/>
    </application>

</manifest>
