<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EMarket.Admin">

        <!-- region [START Activities] -->

        <!-- Home/Main Activity -->
        <activity
            android:name=".ui.activities.MainActivity"
            android:theme="@style/Theme.EMarket.Admin.NoActionBar3"
            android:exported="true"
            android:parentActivityName=".ui.activities.SignInActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.SignInActivity" />
        </activity>

        <!-- Product Details Activity -->
        <activity
            android:name=".ui.activities.ProductDetailsActivity"
            android:theme="@style/Theme.EMarket.Admin.NoActionBar3"
            android:parentActivityName=".ui.activities.MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="ProductDetailsActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.MainActivity" />
        </activity>

        <!-- List Products Activity -->
        <activity
            android:name=".ui.activities.ListProductsActivity"
            android:theme="@style/Theme.EMarket.Admin.NoActionBar3">
        </activity>

        <!-- Sign In activity -->
        <activity
            android:name=".ui.activities.SignInActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.EMarket.Admin.NoActionBar4"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Forgot Password activity -->
        <activity
            android:name=".ui.activities.ForgotPasswordActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.EMarket.Admin.NoActionBar4"
            android:parentActivityName=".ui.activities.SignInActivity"
            android:exported="true">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.SignInActivity" />
        </activity>

        <!-- Update Profile activity -->
        <activity
            android:name=".ui.activities.EditProfileActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.EMarket.Admin.NoActionBar3"
            android:parentActivityName=".ui.activities.SignInActivity"
            android:exported="true">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.SignInActivity" />
        </activity>

        <!-- All Categories activity -->
        <activity
            android:name=".ui.activities.AllCategoriesActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.EMarket.Admin.NoActionBar3"
            android:parentActivityName=".ui.activities.MainActivity"
            android:exported="true">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.MainActivity" />
        </activity>

        <!-- My Orders List activity -->
        <activity
            android:name=".ui.activities.ListOrdersActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.EMarket.Admin.NoActionBar3"
            android:exported="true">
        </activity>

        <!-- Order Details activity -->
        <activity
            android:name=".ui.activities.OrderDetailsActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.EMarket.Admin.NoActionBar3"
            android:parentActivityName=".ui.activities.ListOrdersActivity"
            android:exported="true">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.ListOrdersActivity" />
        </activity>
        <!-- endregion [END Activities] -->

    </application>

</manifest>
